li.toctree-l1 > .reference.internal {    
	color: #68A5D9;
    height: 32px;
    line-height: 32px;
    padding: 0 1.618em;
    margin: 12px 0 0;
    display: block;
    font-weight: 700;
    font-size: 100%;
    white-space: nowrap;
}

li.toctree-l1 > .reference.internal.current {
    color: #68A5D9;
    height: 32px;
    line-height: 32px;
    padding: 0 1.618em;
    margin: 12px 0 0;
    display: block;
    font-weight: 700;
    font-size: 100%;
    white-space: nowrap;
}

.wy-menu-vertical > ul.current > li.toctree-l1 > a.reference.internal > button.toctree-expand:before {
    vertical-align: -webkit-baseline-middle;
}
