<configuration scan="true">

    <property name="LOG_DIR" value="logs/app.log"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--<charset>UTF-8</charset>-->
            <pattern>%date{yyyy-MM-dd HH:mm:ss} %msg %n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>logs/archived/app.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <totalSizeCap>100MB</totalSizeCap>
            <!-- in days -->
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d %p %c{1.} [%t] %m%n</pattern>
        </encoder>
    </appender>
    <logger name="de.fraunhofer.iosb.ilt.faaast.service.starter" level="info" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="de.fraunhofer.iosb.ilt.faaast.service.starter" level="debug" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>
    <root level="error">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>